body {
	margin: 0;
	padding: auto auto 20px auto;
	text-align: center;
	background-color: #F5F5F5;
	color: #406661;
}

.front-end {
	margin: 20px auto;
}

	h4 {
	color: #406661;
}

hr {
	border: dotted #57D131 6px;
	border-bottom: none;
	width: 5%;
	margin: 50px auto;
}

.top-container {
	color: #F5F5F5;
	display: flex;
	flex-direction: column;
	font-size: 156%;
	margin: 0;
	padding: auto auto 20px auto;
	border: 0;
	background-color: #406661;
}

h1 {
	font-family: "Nothing You Could Do";
	font-size: 50px;
	margin: 0 auto 0 auto;
	color: #F5F5F5;
}

.pro {
	color: #B9E937;
}


.programmer {
	margin: 20px auto 65px auto;
	color: #F5F5F5;
}

.python {
	margin: 40px auto;
	padding: 20px auto;
}

p {
	line-height: 2;
	margin: 40px auto auto auto;
	width: 40%;
}

h2 {
	font-family: "Nova Mono";
	color: #406661;
	font-size: 1.5rem;
}

h3 {
	padding: auto auto 30px auto;
}

h4:hover {
	color: #57D131;
}

.matrix {
	object-fit: fill;
}

.middle-container {
	color: #406661;
	margin: 30px auto auto auto;
}

.bottom-container: {
	display: flex;
}

table {
	align-items: center;
}
